# Ignore _pycache_ directories
_pycache_/

# Ignore Python bytecode files 
*.pyc

instance/*
aidoc/__pycache__/*
oralLesionNet/*
imageData/*
imageQualityChecker/imageQualityChecker.tflite
imageQualityChecker/old/*
imageQualityChecker/__pycache__/*
imageQualityChecker/tutorial.ipynb
aidoc/API/admin/__pycache__/*
aidoc/API/common/__pycache__/*
aidoc/API/report/__pycache__/*
