# Ignore _pycache_ directories
_pycache_/

# Ignore Python bytecode files (if necessary)
*.pyc

instance/*
aidoc/__pycache__/*
oralLesionNet/*
imageData/*
imageQualityChecker/imageQualityChecker.tflite
